body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  font-family: "Arial", sans-serif;
  color: #404040;
  background: white;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container-big {
  width: 1015px;
  margin: 0 auto;
}
.container-small {
  width: 800px;
  margin: 0 auto;
}
.header-logo {
  width: 140px;
  height: 76px;
  float: left;
  margin: 0px;
  padding: 0px;
}
.page-header {
  padding-top: 60px;
  background: url(../img/wheat-back.jpg) no-repeat bottom;
  background-size: cover;
  height: 490px;
}
.page-title {
  font-size: 70px;
  line-height: 70px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 120px;
}
.main-nav ul {
  padding: 0;
  margin: 0;
}
.main-nav {
  list-style-type: none;
  float: left;
  font-weight: bold;
  margin-left: 60px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 13px 0px;
  padding-top: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.main-nav a {
  color: #ffffff;
  text-decoration: none;
}
.main-nav a:hover {
  text-decoration: underline;
}
.main-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}
.main-nav li {
  text-transform: uppercase;
  float: left;
  margin-right: 54.5px;
}
.main-nav li:last-child {
  margin-right: 0;
}
.new-goods {
  padding-top: 47px;
  min-height: 1080px;
}
.new-good {
  position: relative;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  width: 398px;
  height: 757px;
}
.cont {
  width: 400px;
  height: 757px;
}
.new-goods h2.section-title {
  margin-top: 33px;
  margin-bottom: 74px;
}
.new-goods h3.section-title {
  padding-left: 34px;
  padding-bottom: 30px;
}
h3.section-title {
  margin: 0px;
}
.bottle-left {
  float: left;
}
.bottle-right {
  float: right;
}
.new-info {
  float: right;
  position: absolute;
  right: 0;
  top: 61px;
  border-collapse: collapse;
  margin: 25px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-top: 24px; /** Не факт **/
}
.new-info td {
  border: 1px solid #e5e5e5;
  padding: 5px 7px;
  width: 60px;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  color: #000000;
}
.ingredients {
  font-size: 14px;
  line-height: 24px;
  position: absolute;
  margin: 0;
  top: 178px;
  right: 6px;
  float: right;
  width: 170px;
}
.description {
  width: 340px;
  margin: 0 auto 60px auto;
}
.btn-buy,
.btn-more-info {
  margin: 0 auto 60px auto;
}

.features {
  background: #ffcb78;
  padding-top: 80px;
  min-height: 330px;
}
.features ul {
  padding: 0;
  margin: 0;
}
.feature-item {
  position: relative;
  float: left;
  border-right: 1px solid #e5b66c;
  text-align: left;
  width: 305px;
  height: 140px;
  padding-top: 100px;
}

.feature-item p {
  margin: 0;
  margin-top: 20px;
  padding: 0 50px;
}
.feature-item:first-child p {
  padding: 0px;
  padding-right: 90px;
}
.feature-item:first-child h2 {
  padding: 0px;
  padding-right: 40px;
}
.feature-item:nth-child(2) {
  width: 400px;
}
.feature-item:nth-child(2) p {
  padding: 0px 105px 0px 95px;
}
.feature-item:nth-child(2) h2 {
  padding: 0px 105px 0px 95px;
}
.feature-item:last-child {
  border-right: none;
  width: 306px;
}
.feature-item:last-child p {
  padding: 0;
  padding-left: 95px;
}
.feature-item:last-child h2 {
  padding: 0;
  padding-left: 95px;
}

.feature-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
}
.feature-item:first-child::before {
  background: url(../img/icon-brew.png) no-repeat;
  left: 0;
  width: 50px;
  height: 68px;
}
.feature-item:nth-child(2)::before {
  background: url(../img/icon-matreshka.png) no-repeat;
  left: 95px;
  width: 46px;
  height: 65px;
}
.feature-item:last-child::before {
  background: url(../img/icon-thumbsup.png) no-repeat;
  left: 95px;
  width: 63px;
  height: 58px;
}
.features ul {
  list-style-type: none;
}
.feature-title {
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 50px;
  margin: 0px;
}

.section-title {
  font-size: 40px;
  line-height: 61px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
.reference-title {
  font-size: 20px;
  line-height: 30px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  margin-bottom: 1px;
}
.reference-title:last-of-type {
  margin-top: 60px;
}
.reference-source {
  font-size: 16px;
  line-height: 30px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-style: italic;
  color: #404040;
  text-transform: capitalize;
}
.reference-source a {
  font-size: 16px;
  line-height: 30px;
  font-family: "Arial", sans-serif;
  text-transform: lowercase;
  font-style: italic;
  color: #834700;
}
.wiki-reference p {
  margin: 18px 0;
}
.reference-source a:hover {
  color: #6a3900;
}
.reference-source a:active {
  color: #cab7a2;
}
.wiki-reference .section-title {
  margin-bottom: 59px;
}
.wiki-reference dd {
  position: relative;
  min-height: 100px;
  padding-right: 310px;
  margin: 0;
}
.wiki-reference dd img {
  border-radius: 1px;
  position: absolute;
  right: 0px;
  top: 10px;
}
.wiki-reference {
  padding-top: 47px;
  min-height: 633px;
}
.reference-source {
  padding-left: 337px;
  color: black;
}
.review {
  background: #ede5d8;
  padding-top: 47px;
  min-height: 433px;
}
.review .section-title {
  margin-bottom: 74px;
}
.review .container-small {
  position: relative;
}
.review blockquote {
  margin: 0px;
  padding-right: 110px;
}
.read-more {
  position: relative;
  top: 28px;
  right: 334px;
  color: #bcb6ab;
  border: 2px solid #a6a097;
  font-weight: bold;
  padding: 15px 20px;
}
.review-author {
  position: relative;
  top: 29px;
  left: 470px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  font-style: normal;
}
blockquote::before {
  content: "";
  position: absolute;
  left: -105px;
  top: 140px;
  background: url(../img/quotes.png) no-repeat top center;
  width: 41px;
  height: 31px;
}
.assortment {
  padding-top: 57px;
  min-height: 588px;
}
.assortment .section-title {
  margin-bottom: 74px;
}
.price-list {
  border-collapse: collapse;
  width: 800px;
  border-spacing: 0px;
}
.price-name {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.price-list th {
  text-align: start;
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 30px;
}
.price-list tr {
  border-bottom: 1px solid #e5e5e5;
}
.price-list td {
  padding: 17px 0;
}
td.price-name {
  padding-right: 46px;
}
td.price {
  padding-left: 10px;
}
.price-name:last-of-type {
  padding: 0;
}
.price-list .price {
  text-align: end;
  padding-right: 0;
}
.price-new {
  font-size: 8px;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  border-radius: 2px;
  padding: 2px 5px;
  margin-left: 20px;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
}
.btn-buy,
.send-order {
  text-transform: uppercase;
  background-color: #834700;
  color: #ffffff;
  padding: 20px 25px;
  font-weight: bold;
  border: none;
}

.btn-more-info {
  padding: 19px 20px;
  border: 1px solid #834700;
  color: #834700;
  font-weight: bold;
}
b {
  color: black;
}
.btn:hover {
  color: #8d745a;
}
.btn:active {
  color: rgba(141, 116, 90, 0.3);
}
.feedback {
  background: #ffcb78;
  padding-top: 47px;
  min-height: 1138px;
}
.feedback .section-title {
  margin-bottom: 74px;
}
.feedback-tip {
  margin-bottom: 70px;
  margin-right: 140px;
}
.feedback-form input[type="text"],
.feedback-form textarea {
  font-size: inherit;
  color: inherit;
  background-color: #e5b66c;
}
.feedback-form input[type="text"] {
  width: 100%;
  height: 50px;
  border: none;
}
.feedback-form-group:nth-child(2),
.feedback-form-group:nth-child(3) {
  width: 290px;
}

.feedback-form textarea {
  width: 100%;
  height: 120px;
  border: none;
}
.feedback-form {
  margin-right: 170px;
}
.feedback-form-group {
  margin-bottom: 25px;
}
.feedback-form-group label {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  line-height: 20px;
}
.feedback-form-group-right-part {
  float: right;
}
.feedback-form-group-left-part {
  float: left;
}
.page-footer {
  background: #000000;
  padding-top: 60px;
  height: 261px;
}
.page-footer a {
  text-decoration: none;
}
.page-footer .header-logo {
  margin-left: 37px;
  margin-right: 71px;
}
.page-footer .header-logo img {
  margin: 0;
}
.page-footer .main-nav {
  margin-top: 7px;
}
.footer-social {
  margin-top: 20px;
  font-size: 0;
  width: 216px;
}
.footer-copyright b {
  color: #989898;
  line-height: 20px;
  font-size: 14px;
}
.footer-copyright a {
  color: #989898;
  line-height: 20px;
  font-size: 14px;
}
.footer-copyright {
  float: right;
}
.page-footer .header-top {
  margin-bottom: 47px;
}
.footer-bottom {
  position: relative;
}
.footer-bottom p {
  position: absolute;
  left: 307px;
  top: 0;
  line-height: 20px;
  font-size: 14px;
  height: 40px;
  width: 200px;
  color: #989898;
  margin-top: 12px;
}
.social-btn {
  display: inline-block;
  width: 70px;
  height: 66px;
  vertical-align: middle;
  margin-left: -1px;
  color: #ffffff;
  background: #1b1b1b;
  background-repeat: no-repeat;
  border: 1px solid #322d24;
}
.social-btn-fb {
  background: url(../img/icon-fb.png) no-repeat center;
}
.social-btn-insta {
  background: url(../img/icon-insta.png) no-repeat center;
}
.social-btn-vk {
  background: url(../img/icon-vk.png) no-repeat center;
}
.footer-copyright {
  position: absolute;
  top: 0;
  right: 8px;
}
.footer-copyright .logo-inline {
  text-align: center;
  vertical-align: middle;
}
